<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Account Management</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/dashboard">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>
            <li class="pcoded-hasmenu"  id="agencyli" >
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                    <span class="pcoded-mtext">Agency</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/add-agency-form">
                            <span class="pcoded-mtext">Add Agency</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/agencies">
                            <span class="pcoded-mtext">Agencies List</span>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">HR</span>
                </a>
                <ul class="pcoded-submenu">
                    <!-- <li class=" ">
                        <a href="add-role">
                            <span class="pcoded-mtext">Add Role</span>
                        </a>
                    </li> -->
                    <li class=" ">
                        <a href="/roles">
                            <span class="pcoded-mtext">Roles</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/users/0">

                            <span class="pcoded-mtext">Users</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/attendance ">
                            <span class="pcoded-mtext ">Attendance</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel ">Order Management</div>
        <ul class="pcoded-item pcoded-left-item ">
            <li class="pcoded-hasmenu ">
                <a href="javascript:void(0) ">
                    <span class="pcoded-micon "><i class="feather icon-box "></i></span>
                    <span class="pcoded-mtext ">Orders</span>
                </a>
                <ul class="pcoded-submenu ">

                    <li class=" ">
                        <a href="typography.htm ">
                            <span class="pcoded-mtext ">Typography</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="other.htm ">
                            <span class="pcoded-mtext ">Other</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="pcoded-navigatio-lavel ">Source Management</div>
        <ul class="pcoded-item pcoded-left-item ">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i  class="icofont icofont-vehicle-delivery-van"></i></span>
                    <span class="pcoded-mtext">Vehicle</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/add-vehicle-form">
                            <span class="pcoded-mtext">Add Vehicle</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/vehicles">
                            <span class="pcoded-mtext">Vehicles List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                    <span class="pcoded-mtext">CRM</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/add_customer">
                            <span class="pcoded-mtext">Add Customer</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/customer_list">
                            <span class="pcoded-mtext">Customer List</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="pcoded-navigatio-lavel ">Payrole Mangement</div>
        <ul class="pcoded-item pcoded-left-item ">
            <li class="pcoded-hasmenu ">
                <a href="javascript:void(0) ">
                    <span class="pcoded-micon "><i class="feather icon-file-minus "></i></span>
                    <span class="pcoded-mtext ">Invoice</span>
                </a>
                <ul class="pcoded-submenu ">
                    <li class=" ">
                        <a href="invoice.htm ">
                            <span class="pcoded-mtext ">Invoice</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="invoice-summary.htm ">
                            <span class="pcoded-mtext ">Invoice Summary</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/invoice_list ">
                            <span class="pcoded-mtext ">Invoice List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="pcoded-hasmenu ">
                <a href="javascript:void(0) ">
                    <span class="pcoded-micon "><i class="feather icon-calendar "></i></span>
                    <span class="pcoded-mtext ">Event Calendar</span>
                </a>
                <ul class="pcoded-submenu ">
                    <li class=" ">
                        <a href="event-full-calender.htm ">
                            <span class="pcoded-mtext ">Full Calendar</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="event-clndr.htm ">
                            <span class="pcoded-mtext ">CLNDER</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>

        <div class="pcoded-navigatio-lavel ">Support</div>
        <ul class="pcoded-item pcoded-left-item ">
            <li class=" ">
                <a href="http://html.codedthemes.com/Adminty/doc " target="_blank ">
                    <span class="pcoded-micon "><i class="feather icon-monitor "></i></span>
                    <span class="pcoded-mtext ">Documentation</span>
                </a>
            </li>
            <li class=" ">
                <a href="# " target="_blank ">
                    <span class="pcoded-micon "><i class="feather icon-help-circle "></i></span>
                    <span class="pcoded-mtext ">Submit Issue</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    if(window){   
        var splitpath = window.location.pathname.split("/"); 
        if(splitpath[2] == 'admin'){
                document.getElementById('agencyli').hidden = true
                console.log(window.location)
                console.log(window.location)
                // for(let i = 0 ; i<document.links.length;i++){
                //     document.links[i].href = document.links[17].href 
                // }
        }

    }
</script>